.landscape-styles{
    display: block;
}

.portrait-styles{
    display: none;
}

@media (min-width:1000px) {
    #imgcont{
        width: 250%;
    }
}

.DnBg{
    background-image: url('./assets/images/Events/event20.jpg');
}


@media (min-width:1000px) {
    #imgcont2{
        width:250%;
    }
}

.hero3{
    display: none;
}
@media (max-width:320px) {
    .hero3{
        display: flex;
    }
}

.About-bg{
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0.65) 100%),
    url('./assets/images/Events/event18.jpg');
}

.Account-bg{
    background: rgb(21,96,177);
background: linear-gradient(318deg, rgba(21,96,177,1) 0%, rgba(1,71,149,1) 55%, rgba(21,96,177,1) 56%);
}
